/* FOR IMPORTING FONTS */
@import url('https://fonts.googleapis.com/css?family=Bad+Script|Lobster+Two:400,400i');
@import url('https://fonts.googleapis.com/css?family=Lobster+Two');
@import url('https://fonts.googleapis.com/css?family=Bad+Script');

/* UNIVERSALS */

a {
  text-decoration: none; /* Gets rid of underline */
}

li {
    list-style-type: none; /* gets rid of bullets */
    display: inline;
}

/* NAVBAR SECTION BEGIN */
.navbar-default {
  background-color: transparent;  /* Makes Menu Bar Transparent */
  border: none;                   /* Removes Border From Menu Bar */
  font-family: 'Bad Script', 'Lobster Two', cursive;
  font-size: 15pt;
}

.navbar-default .navbar-nav>li>a {
  color: #800000;                      /* Makes Menu Text Dark Red */
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
  color: #fff;                          /* Keeps Menu Text White When Hovered Over */
  background-color: rgba(90, 0, 0, .4);  /* For Transparent Gray Over Text When Hovered */
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
  color: #fff;
  background-color: rgba(0, 0, 0, .4);  /* For 'active' To Keep Colors Correct When Hovered Or Clicked */
}
/* NAVBAR SECTION END */

/* CAROUSEL SECTION BEGIN */
.carousel, .item {
  height: 400px;
}

.item {
  background-size: cover;
  background-position: center;
}

#wood-background {
  background-image: url('../img/luigis-banner-1.jpg');
}

#restaurant-background {
  background-image: url('../img/luigis-banner-2.jpg');
}

#farm-background {
  background-image: url('../img/luigis-banner-3.jpg');
}

#restaurante-logo-hero {  /* Centers Restaurant Logo */
  height: 170px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* CAROUSEL SECTION END */

#main-paragraph {
    padding: 0 350px;
    text-align: justify;
    /* font-family: 'Lato', sans-serif; /* ADDED LATO FOR ALL #main-paragraph
    font-weight: 900;
    font-family: 'Lobster', cursive;*/
}

.split-para {
    display:block;
    margin:10px;
}

.split-para span {
    display:block;
    float:right;
    width:50%;
    margin-left:10px;
}

.menu {
  padding: 0 350px;
  text-align: justify;
    font-family: "verdana"; /* FOR MENU ITEMS */
    color: #26403d;
}

#menu-items {
    float: left;
    text-align: justify;
    font-family: "verdana"; /* FOR MENU ITEMS */
    color: #335752;
}



#col-md-3-menu-items { /* FOR EMPTY SPACE AROUND MENU ITEMS */
  height: 150px;
  width: 341;
}

#col-md-6-menu-items { /* FOR MENU ITEMS */
  float: left;
  text-align: justify;
  font-family: "verdana";
  font-size: 16;
  color: #335752;
  height: 150px;
  width: 684;
}

h1 {
  font-family: 'Bad Script', 'Lobster Two', cursive; /* FOR BANNER */
  font-weight: normal;
  color: #e00000; /*#800000*/
  font-size: 18pt;
  /*font-size: 48pt;
  margin-bottom: 125px; /* for height */
}

h2 {
  font-family: 'Bad Script', 'Lobster Two', cursive; /* FOR LUIGI'S (UPPER LEFT) */
  font-weight: normal;
  color: #800000;
  font-size: 18pt;
  margin-top: -5px; /* for height */
}

/*h1 {
    text-align: center; /* FOR 'luigis_main_logo.gif' */
    /*margin-top: 45px; /* for height */
    /*margin-bottom: -25px;
    margin-right: -50px;
    /*padding: 0 0 0 0px;*/
/*}

h2 {
    text-align: center; /* FOR 'Brings You "Fine Foods By Rose"' */
    /*margin-top: 30px;
    margin-right: -60px; /* WORKS SAME AS 'padding: 0 0 0 60px;' */
    /*padding: 0 0 0 60px;*/
    /*font-size: 28pt;
    font-weight: bold;
    font-family: 'Bad Script', 'Lobster Two', cursive;
    color: #800000;
}*/

h3 {
    text-align: center; /* FOR 'Specializing In European Cuisine' */
    margin-top: 80px;
    margin-bottom: -25px;
    margin-left: -370px;
    /*padding: 0 0 0 0px;*/
    font-size: 18pt;
    letter-spacing: 1.5pt;
    font-weight: normal;
    font-family: 'Lobster Two', 'Bad Script', cursive;
    color: #800000;
}

h4 {
    text-align: center; /* FOR 'Excellent Gourmet Food' */
    margin-top: 35px;
    margin-bottom: -25px;
    margin-left: -370px;
    /*padding: 0 0 0 0px;*/
    font-size: 14pt;
    letter-spacing: 1.5pt;
    font-weight: bold;
    font-family: 'Lobster Two', 'Bad Script', cursive;
    color: #800000;
}

h5 {
    text-align: center; /* FOR 'Phone & Email' */
    margin-top: 35px;
    margin-bottom: -25px;
    margin-left: -370px;
    /*padding: 0 0 0 0px;*/
    font-size: 11pt;
    letter-spacing: 1.5pt;
    font-weight: normal;
    font-family: "verdana";
    color: #800000;
}

h6 {
  margin-top: 55px; /* FOR 'pink.gif' */
}

.heading-1 {
    margin-top: 55px; /* for heading 1 height */
}

.heading-2 {
    margin-top: 55px; /* for heading 2 height */
}

.heading-3 {
    margin-top: 55px; /* for heading 3 height */
}

.heading-4 {
    margin-top: 55px; /* for heading 4 height */
}

.menu {
  padding: 0 305px;
  text-align: justify;
  font-family: "verdana"; /* FOR MENU ITEMS */
  font-size: 16;
  color: #26403d;
}

c {
     /* FOR THE WORD 'Special' IN RAVIOLI SECTION */
    font-size: 18pt;
    font-family: 'Bad Script', 'Lobster Two', cursive;
    font-weight: bold;
    color: #800000;
}
cc {
     /* FOR 'Ravioli's are fresh frozen & come at one dozen per order' */
    font-size: 12pt;    /* AFTER THE WORD 'Special' IN RAVIOLI SECTION */
    font-family: "verdana";
    font-weight: normal;
    color: #800000;
}

d {
     /* FOR THE WORD 'Menu' AT BEGINNING OF MENU */
    font-size: 28pt;
    font-family: 'Bad Script', 'Lobster Two', cursive;
    font-weight: bold;
    color: #800000;
}

e {
    font-size: 16pt; /* FOR MENU HEADINGS */
    font-family: 'Bad Script', 'Lobster Two', cursive;
    font-weight: bold;
    color: #800000;
}

f {
    margin-top: 0px; /* FOR MENU SUB-HEADINGS */
    font-size: 11pt;
    font-family: "verdana";
    font-weight: normal;
    font-style: italic;
    color: #26403d;
}

/* TEXT FADE START */
x {
    font-weight: normal; /* without this font is bold */
    font-family: "verdana";
    font-size: 17px;        /* FOR 'How Our Famous Italian Steak Sandwich Came To Be' */
    animation: change 3s infinite;
}

y {
    font-weight: normal; /* without this font is bold */
    font-family: "verdana";
    font-size: 18px;        /* FOR 'NEW' */
    animation: change 1s infinite;
}

z {
    font-weight: normal; /* without this font is bold */
    font-family: "verdana";
    font-size: 18px;        /* FOR 'Luigi's Original Homemade Meat & Cheese and Spinach & Cheese Ravioli' */
    animation: change 4s infinite;
}

@keyframes change {
    from { color: #8b0000 }
    to   { color: #ff3333 }
}
/* TEXT FADE END */

#copyright-section {
  text-align: center;
  font-family: "verdana"; /* FOR FOOTER */
  font-size: 16;
  font-style: italic;
  color: #800000;
}
